<div
  id="About"
  [attr.data-theme]="theme"
  class="section min-h-screen flex items-center pb-10 m:p-14 lg:text-left lg:flex"
  [ngClass]="{ 'custom-background': theme == 'main-theme' }"
>
  <div class="lg:grid lg:grid-cols-2">
    <div class="relative my-8">
      <h1
        class="text-3xl font-bold text-center pb-10 pt-8 md:text-5xl xl:text-6xl"
      >
        About
      </h1>
      <div class="centered">
        <div class="mx-6 lg:mx-20">
          <span class="md:text-lg font-medium">
            <p>
              Hi, I'm David Donaldson an experienced Software Engineer. I've had
              the privilege of witnessing the evolution of web technologies
              firsthand which has sparked my interest in crafting elegant and
              efficient solutions. This has since grown into a lifelong
              dedication of mastering the art of software development.
            </p>
            <br />
            <p>
              Throughout my journey, I've had the opportunity to work on a
              diverse array of projects, ranging from dynamic web applications
              to robust backend systems. This experience has equipped me with a
              comprehensive understanding of the entire development lifecycle,
              from concept to deployment.
            </p>
            <br />
            <p>
              I would love to hear from you. Whether it's a project, job
              opportunity, or just a chat. Feel free to
              <a class="underline underline-offset-2" href="">contact me.</a>
            </p>
          </span>
        </div>
      </div>
    </div>

    <div class="mx-6 my-5 lg:mx-10">
      <h1
        class="pb-10 pt-8 text-center text-3xl font-bold mb-5 md:text-5xl xl:text-6xl"
      >
        My Journey
      </h1>
      <ol class="flex flex-col md:flex-row relative border-l items-center">
        <li class="mb-10 ml-4">
          <div
            class="absolute w-3 h-3 bg-stone-200 rounded-full mt-1.5 -left-1.5 border border-white"
          ></div>
          <span
            class="flex flex-wrap gap-4 flex-row items-center justify-start text-xs"
          >
            <span
              class="inline- text-base px-2 py-1 font-semibold text-primary bg-white rounded-md"
              >Today</span
            >
            <h3 class="text-lg font-semibold">Freelance Developer</h3>
            <div class="my-1 text-sm font-normal leading-none text-stone-200">
              6 Years
            </div>
          </span>
          <p class="my-2 text-base font-normal">
            I build software for my personal use as well as clients who need
            static websites, basic apps or more complex solutions. All coding
            projects are built from the ground up, from planning & designing, to
            testing & eventual deployment; solving real-life problems with code.
          </p>
        </li>
      </ol>

      <ol class="flex flex-col md:flex-row relative border-l items-center">
        <li class="mb-10 ml-4">
          <div
            class="absolute w-3 h-3 bg-stone-200 rounded-full mt-1.5 -left-1.5 border border-white"
          ></div>
          <span
            class="flex flex-wrap gap-4 flex-row items-center justify-start text-xs"
          >
            <span
              class="inline- text-base px-2 py-1 font-semibold text-primary bg-white rounded-md"
              >2016</span
            >
            <h3 class="text-lg font-semibold">Software Engineer</h3>
            <div class="my-1 text-sm font-normal leading-none text-stone-200">
              3 Years
            </div>
          </span>
          <p class="my-2 text-base font-normal">
            Worked at a Telecoms Company building & maintaining various web
            applications to support day to day operations for multiple
            workstreams. I also built a Workforce Management tool which has
            doubled individual staff efficiency and has also saved the company
            millions to-date.
          </p>
        </li>
      </ol>

      <ol class="flex flex-col md:flex-row relative border-l items-center">
        <li class="mb-10 ml-4">
          <div
            class="absolute w-3 h-3 bg-stone-200 rounded-full mt-1.5 -left-1.5 border border-white"
          ></div>
          <span
            class="flex flex-wrap gap-4 flex-row items-center justify-start text-xs"
          >
            <span
              class="inline- text-base px-2 py-1 font-semibold text-primary bg-white rounded-md"
              >2014</span
            >
            <h3 class="text-lg font-semibold">BEd in Computer Studies</h3>
            <div class="my-1 text-sm font-normal leading-none text-stone-200">
              4 Years
            </div>
          </span>
          <p class="my-2 text-base font-normal">
            I pursued a degree in computer studies at a teaching university
            within the caribbean. There I not only learn about computer
            architechture, computer science theory & programming but I learnt
            professional development, networking & collaboration, behavioral
            phychology & various reflective practices which i've seamlessly
            incorporated into my day to day professional interactions.
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>
